/* 可変レイアウト
------------------------------------------ */
html {
	font-size: calc(10 * 100vw / 390);
}

@media (min-width:768px) {
	html {
		font-size: calc(10 * 100vw / 1200);
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 62.5%;
	}
}

/* ベースのスタイル
------------------------------------------ */
body {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	line-height: 1.75;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

a,
a:hover,
a i {
	transition: opacity .3s;
}

@media (min-width: 768px) {
	a:hover {
		opacity: .6;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ul {
	list-style: none;
}

/* ヘッダー
------------------------------------------ */


/* カバー
------------------------------------------ */
.cover {
	width: 39.7rem;
	height: 55.7rem;
	margin-bottom: 5rem;
}

@media (min-width: 768px) {
	.cover {
		height: 72rem;
	}
}

.cover__image {
	background-image: url("../image/cover_main_sp_01.png");
	height: 45rem;
	background-position: center;
	background-size: cover;
}

@media (min-width: 768px) {
	.cover__image {
		background-image: url("../image/cover_main_pc_01.png");
		height: 100%;
		background-position: center;
		background-size: cover;
	}
}

.header {
	text-align: center;
	letter-spacing: 1px;
}

@media (min-width: 768px) {
	.header {
		text-align: center;
		letter-spacing: 1px;
	}
}

.header__text {
	font-family: 'Marcellus', sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
}

@media (min-width: 768px) {
	.header__text {
		font-family: 'Marcellus', sans-serif;
		font-weight: 400;
		font-size: 2.8rem;
	}
}

.cover__text-first {
	font-family: 'Marcellus', sans-serif;
	font-weight: 400;
	font-size: 4.1rem;
}

@media (min-width: 768px) {
	.cover__text-first {
		font-family: 'Marcellus', sans-serif;
		font-weight: 400;
		font-size: 5rem;
	}
}

.cover__text-second {
	font-family: 'Marcellus', sans-serif;
	font-weight: 400;
	font-size: 4.1rem;
}

@media (min-width: 768px) {
	.cover__text-second {
		font-family: 'Marcellus', sans-serif;
		font-weight: 400;
		font-size: 5rem;
	}
}

.cover__text-third {
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

@media (min-width: 768px) {
	.cover__text-third {
		font-family: 'Noto Serif JP', sans-serif;
		font-weight: 400;
		font-size: 2.5rem;
	}
}

/* ボタン
------------------------------------------ */
.button {
	display: block;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	text-align: center;
	margin-bottom: 5rem;
}

.button__text {
	margin-bottom: 1.7rem;
}


.button__wrapper {
	background-color: #F0F4FF;
	padding-top: 1.8rem;
	padding-bottom: 3.4rem;
}

.button__text-title {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
}

@media (min-width: 768px) {
	.button__text-title {
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 600;
		font-size: 2.4rem;
	}
}

.button__text-price {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
}

@media (min-width: 768px) {
	.button__text-price {
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 400;
		font-size: 1.6rem;
	}
}

.button__shop {
	display: block;
	border-radius: 2.9rem;
	width: 30rem;
	height: 5.8rem;
	background-color: #46C4DB;
	text-align: center;
	position: relative;
	padding-top: 1.4rem;
	font-size: 1.8rem;
	color: #fff;
	font-family: "Noto serif JP", serif;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.button__buy {
	display: block;
	border-radius: 2.9rem;
	width: 30rem;
	height: 5.8rem;
	background-color: #5DD5AB;
	text-align: center;
	position: relative;
	padding-top: 1.4rem;
	font-size: 1.8rem;
	color: #fff;
	font-family: "Noto serif JP", serif;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;

}

@media (min-width: 768px) {
	.button__shop {
		display: block;
		border-radius: 2.9rem;
		width: 30rem;
		height: 5.8rem;
		background-color: #46C4DB;
		text-align: center;
		position: relative;
		padding-top: 1rem;
		font-size: 1.8rem;
		color: #fff;
		font-family: "Noto serif JP", serif;
		font-weight: 600;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 768px) {
	.button__buy {
		display: block;
		border-radius: 2.9rem;
		width: 30rem;
		height: 5.8rem;
		background-color: #5DD5AB;
		text-align: center;
		position: relative;
		padding-top: 1rem;
		font-size: 1.8rem;
		color: #fff;
		font-family: "Noto serif JP", serif;
		font-weight: 600;
		margin-left: auto;
		margin-right: auto;
	}
}


/* 商品紹介
------------------------------------------ */
.introduction {
	height: 68rem;
}

@media (min-width: 768px) {
	.introduction {
		height: 55rem;
	}
}

.introduction__image {
	background-image: url("../image/introduction_main_sp_01.png");
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}

@media (min-width: 768px) {
	.introduction__image {
		background-image: url("../image/introduction_main_pc_01.png");
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}
}



.introduction__title-first {
	font-family: "EB Garamond", serif;
	font-weight: 700;
	font-size: 3rem;
	color: #fff;
	text-align: center;
}


@media (min-width: 768px) {
	.introduction__title-first {
		font-family: "EB Garamond", serif;
		font-weight: 700;
		font-size: 3.8rem;
		color: #fff;
		text-align: center;
	}
}

.introduction__title-second {
	font-family: "Noto Serif JP", serif;
	font-weight: 600;
	font-size: 2.4rem;
	color: #fff;
	text-align: center;
	margin-bottom: 1rem;

}

@media (min-width: 768px) {
	.introduction__title-second {
		font-family: "Noto Serif JP", serif;
		font-weight: 600;
		font-size: 2.4rem;
		color: #fff
	}
}

.introduction__text {
	font-family: "Noto Serif JP", serif;
	font-weight: 400;
	font-size: 1.4rem;
	color: #fff;
	line-height: 2.3;
}

@media (min-width: 768px) {
	.introduction__text {
		font-family: "Noto Serif JP", serif;
		font-weight: 400;
		font-size: 1.4rem;
		color: #fff;
	}
}

.introduction__wrapper {
	padding-top: 4rem;
}


/* Voices
------------------------------------------ */

.voices {
	padding-top: 5.4rem;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}


.voices__title {
	font-family: "EB Garamond", serif;
	font-weight: 700;
	font-size: 3rem;
	color: #000;
	text-align: center;
	line-height: 1;
	margin-bottom: 0.6rem;
}

@media (min-width: 768px) {
	.voices__title {
		font-family: "EB Garamond", serif;
		font-weight: 700;
		font-size: 4.5rem;
		color: #000;
	}
}

.voices__title-text {
	font-family: "Noto Serif JP", serif;
	font-weight: 600;
	font-size: 1.6rem;
	color: #000;
	text-align: center;
}

@media (min-width: 768px) {
	.voices__title-text {
		font-family: "Noto Serif JP", serif;
		font-weight: 600;
		font-size: 2rem;
		color: #000;
	}
}

.voice__customer {
	margin-left: auto;
	margin-right: auto;
}

.voice__slick-item {
	max-width: 28rem;
	height: 34.4rem;
	margin-right: auto;
	margin-left: auto;
	background-color: #DBF7F9;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}

.slide-arrow next-arrow slick-arrow {
	position: absolute;
	left: 50rem !important;
}